.wrapper {
  width: auto;
}

.search {
  padding: 12px;
  padding-bottom: 22px;
  background-color: #ffffff;
}

.space {
  width: 350px;
}

div.categories {
  overflow: scroll;
  padding: 12px 24px;
  padding-bottom: 22px;
  background-color: #ffffff;
}
